header h1 {
  text-align: center;
}


#featured-property img {
  display: block;
  margin: 0 auto;
}


nav a {
  padding: 10px;
  background-color: grey;
  display: flex;
  text-align: center;
}


#featured-property figcaption {
  text-align: center;
  font-size: 0.8em;
}


#featured-property p {
  width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}


#details div {
  width: 25%;
  float: left;
  text-align: center;
  background-color:red;
}


footer div {
  width: 25%;
  float: left;
  text-align: center;
  background-color: red;
}